<%= form_tag users_remove_money_path do -%>
<% if current_user.admin == true %>
<%= link_to 'Give him Data', users_addsome_money_url%>
<%end%>
<% if current_user.current_money > 9 %>
  <div id="showName"><%= submit_tag 'Show name for 10 DataCoins' %></div>
  <%else%>
  <div>Not enough money to unlock name.</div>
  <%end%>
  
  <span id="name"><strong>Name:</strong><%= @user.prenom %></span>
<% end -%>

<br/>

<%= form_tag users_remove_money_path do -%>

<% if current_user.current_money > 9 %>
  <div id="showPhone"><%= submit_tag 'Show Phone for 10 DataCoins' %></div>
  <%else%>
  <div>Not enough money to unlock phone.</div>
  <%end%>
  <span id="phone"><strong>Numéro de téléphone:</strong><%= @user.numéro_de_téléphone %></span>
<% end -%>


<br/>
<%= link_to 'Back', users_path %>